stages:
  - code-quality
  - testing
  - build
  - deploy

jobs:
  include:
    - stage: code-quality
      language: node_js
      node_js:
        - "10"
      cache:
        yarn: true
        directories:
          - node_modules
      script:
        - yarn run lint
    - stage: deploy
      language: node_js
      node_js:
        - "10"
      cache:
        yarn: true
        directories:
          - node_modules
      script:
        - yarn build
      deploy:
        skip_cleanup: true
        provider: heroku
        app: TestTaskFrontEnd-6
        api_key: $HEROKU_AUTH_TOKEN
        on:
          repo: GTech1256/TestTaskFrontEnd-6
