language: node_js
node_js:
  - "8"

stages:
  - code-quality

jobs:
  include:
    - stage: code-quality
      language: node_js
      node_js:
        - "8"
      cache:
        yarn: true
        directories:
          - node_modules
      script:
        - yarn run lint
    - stage: deploy
      language: node_js
      node_js:
        - "8"
      cache:
        yarn: true
        directories:
          - node_modules
      script:
        - yarn build
      deploy:
        language: node_js
        node_js:
          - "8"
        skip_cleanup: true
        provider: heroku
        app: travistestb
        api_key: $HEROKU_AUTH_TOKEN
        on:
          repo: GTech1256/TestTaskFrontEnd-6
        after_deploy:
          - npm i
          - npm run start
